modules = ["nodejs-20", "python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true
integrations = ["stripe:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PrivateConnect Dev Server"

[[workflows.workflow]]
name = "PrivateConnect Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
SAMPATH_BANK_ACCOUNT = "105057458082"
SAMPATH_BANK_NAME = "J A Y S Kavinda"
SAMPATH_BANK_BRANCH = "Kadawatha"
COMMERCIAL_BANK_ACCOUNT = "8007739640"
COMMERCIAL_BANK_NAME = "J A Y S Kavinda"
COMMERCIAL_BANK_BRANCH = "Kadawatha"
